html {
  color: #444;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

body {
  background: #504f4f;
  font-size: 1em;
  margin: 0;
}

.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

.container-calendar {
  background: #cac2c2;
  margin: 0 auto;
  max-width: 475px;
  overflow: auto;
  padding: 15px;
}

.button-container-calendar button {
  background: #00a2b7;
  border-radius: 4px;
  border: 1px solid #0aa2b5;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  zoom: 1;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  border: 1px solid #e2e2e2;
  padding: 5px;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}


/* sunday */

.date-picker:nth-child(1) {
  color: red;
}


/* friday */

.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
  margin-top: 0;
  text-align: center;
}

#date-current {

  margin-top: 12px;
  text-align: center;
}
 .prev-date {
  cursor: not-allowed;
  color: #999;
}

.button-container-calendar {
  clear: both;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  border-top: 1px solid #dadada;
  margin-top: 1em;
  padding: 10px 0;
}

.footer-container-calendar select {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #bfc5c5;
  color: #585858;
  cursor: pointer;
  display: inline-block;
  padding: 5px 1em;
  zoom: 1;
}